@model IEnumerable<EntityImageViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<hr />
@if (Model != null)
{
<div class="container">
    <div class="row">
        @foreach (var viewModel in Model)
        {
        <div class="col-md-4">
            <div class="card">
                @if (viewModel.Image != null)
                {
                    <img class="card-img-top" src="data:image/jpg;base64,@System.Convert.ToBase64String(viewModel.Image)" />
                }
                <div class="card-body">
                    <h5 class="card-title">@viewModel.Name</h5>
                    <a href="#" class="btn btn-primary">Go somewhere bvb @viewModel.Id</a>
                </div>
            </div>
            <br />
        </div>
        }
    </div>
</div>
}